/*
Colors: 
#E54E79; rosado
#E56385; rosado claro
#00B2A9; celeste
#75726C; gris
#EDE9E2; gris claro
*/
/*  Definimos fondo principal  */
body{
	background-image:url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
	background-size: 100%; /*Que se adapte al tamaña de la pantalla*/
	background-repeat: no-repeat;
	background-position:50% 2%;
	font-family: 'Raleway';
	margin: 0;
}

/*  ESTILOS de los elementos del header  */
nav{
	background-color: #E54E79;/*Color de fondo*/
	position: fixed; /*Para que no desaparezca de la pantalla*/
	top: 0; /* Top y left en 0 para que este pegado al borde superior y al izquierdo*/
	left: 0;
	width: 100%; /*Ancho de 100% para que sea del largo de la pantalla*/
	height: 70px; /*Prueba de alto con el inspector*/
	z-index: 10; /*Prioridad al mostrarse en la pantalla*/
}

.logo{
	background-image: url(../img/logo-white.png); /*Enlazamos imagen*/
	background-size: 100%; /*Para que la imagen tome el tamaño de todo el espacio */
	float: left; /*Posicionarse al lado izquierdo*/
	position: absolute;/*Regular en base a su padre*/
	left:15%; /*Que tan a la derecha lo correremos*/
	top: 8.5px; /*Cuantos pixeles se moverá hacia abajo, este n° lo sacamos restando la altura del logo a la altura total*/
	width: 75px;
	height: 53px;
}
/*  Sección del menú  */
ul{
	list-style: none;/*Eliminamos el símbolo*/
	float: right;/*Lo posicionamos al lado derecho*/
	position: relative;
	right: 5%;
	top:9px;
}

ul li{
	display: inline-block;/*Para que cada elemento se posicione horizontalmente*/
}

ul li a{
	text-decoration: none;/*Eliminamos la línea del link que viene por defecto*/
	color: white;
	padding:15px;
}

a:hover{/*Para que cambie de color al posicionarse sobre el elemento*/
	background-color: #E56385;
}

/*  Caja Sign-up  */

#contenedor{
	background-color: #EDE9E2;
	position: absolute;
	right: 0;
	top: 170px;;
	width: 430px;
	height: 340px;
	padding: 50px;
}

h1{
	color: #00B2A9;
	text-transform: uppercase;
}
.sign-up{
	color: #75726C;
}
.boton-driver{
	display:block;
	background-color: #E54E79;
	border: none;
	color: white;
	padding: 10px;
}

